svg {
    height: 80px;
}

#img1{
    height: 200px;
    width: 200px;
}
#img2{
    height: 200px;
    width: 200px;
}
#img3{
    height: 200px;
    width: 200px;
}
#img4{
    height: 200px;
    width: 200px;
}
#img5{
    height: 200px;
    width: 200px;
}
#img6{
    height: 200px;
    width: 200px;
}
#img7{
    height: 200px;
    width: 200px;
}